services:
  semaphoreworkflow:
    image: semaphoreworkflow
    environment:
      - DAPR_HTTP_PORT=3500
      - SEMAPHORE_WORKFLOW_INSTANCE_ID=${SEMAPHORE_WORKFLOW_INSTANCE_ID}
    build:
      context: .
      dockerfile: SemaphoreWorkflow/Dockerfile
    ports:
      - 3500:3500
      - 5116:5116
    networks:
      - network
  semaphoreworkflow-dapr:
    image: "daprio/daprd:${DAPR_RUNTIME_VERSION}"
    command:
      [
        "./daprd",
        "-app-id",
        "semaphore",
        "-app-port",
        "5116",
        "-placement-host-address",
        "placement:50005",
        "-scheduler-host-address",
        "scheduler-0:50006,scheduler-1:50006,scheduler-2:50006",
        "-resources-path",
        "/components",
        "-config",
        "/dapr-config/config.yml",
        "-log-level",
        "info",
        "-enable-app-health-check",
        "true",
        "-app-health-check-path",
        "/health",
        "-app-health-probe-interval",
        "10",
        "-app-health-probe-timeout",
        "1000",
        "-app-health-threshold",
        "1",
      ]
    volumes:
      - "./components/:/components"
      - "./dapr-config/:/dapr-config"
    depends_on:
      scheduler-0:
        condition: service_started
      postgres-db:
        condition: service_healthy
    network_mode: "service:semaphoreworkflow"
  # ############################
  # # Dapr Scheduler service
  # ############################
  scheduler-0:
    image: "daprio/dapr:${DAPR_SCHEDULER_VERSION}"
    command:
      [
        "./scheduler",
        "--etcd-data-dir",
        "/var/run/dapr/scheduler",
        "--log-level",
        "warn",
      ]
    volumes:
      - ./dapr_scheduler/0:/var/run/dapr/scheduler
    networks:
      - network
  scheduler-1:
    image: "daprio/dapr:${DAPR_SCHEDULER_VERSION}"
    command:
      [
        "./scheduler",
        "--etcd-data-dir",
        "/var/run/dapr/scheduler",
        "--log-level",
        "warn",
      ]
    volumes:
      - ./dapr_scheduler/1:/var/run/dapr/scheduler
    networks:
      - network
  scheduler-2:
    image: "daprio/dapr:${DAPR_SCHEDULER_VERSION}"
    command:
      [
        "./scheduler",
        "--etcd-data-dir",
        "/var/run/dapr/scheduler",
        "--log-level",
        "warn",
      ]
    volumes:
      - ./dapr_scheduler/2:/var/run/dapr/scheduler
    networks:
      - network
  ############################
  # Dapr placement service
  ############################
  placement:
    image: "daprio/dapr:${DAPR_PLACEMENT_VERSION}"
    command: ["./placement", "-port", "50005", "-log-level", "warn"]
    networks:
      - network
  ############################
  # Diagrid Workflow Dashboard
  ############################
  workflow-dashboard:
    image: ghcr.io/diagridio/diagrid-dashboard:latest
    restart: always
    environment:
      - COMPONENT_FILE=/app/components/custom_state.yaml
    ports:
      - 8080:8080
    networks:
      - network
    volumes:
      - "./components/statestore-pg-v2.yaml:/app/components/custom_state.yaml"
  postgres-db:
    image: postgres:16.2-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=wO2VGDsMKR
      - max_wal_size=2GB
    healthcheck:
      test: ["CMD", "pg_isready", "-q", "-d", "postgres", "-U", "postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - 5432:5432
    networks:
      - network
    volumes:
      - postgres-db-16-2:/var/lib/postgresql/data
networks:
  network:
volumes:
  postgres-db-16-2:
    driver: local
